
.wrapper {
    display: flex;
    /* align-items: center; */
    column-gap: 5px;
}

.divider {
    flex-grow: 1;
    border-color: rgb(57, 57, 196);
}

.left,
.right {
    border: 2px solid red;
    height: 50px;
    width: 50px;
    background: yellow;
}

* {
    box-sizing: border-box;
}

.profile-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-item {
    list-style-type: None;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* .search {
            width: 15px;
            height: 15px;
        } */

.h-item {
    height: 40px;
}

.b1 {
    background-color: white;
}

.b2 {
    border: 2px solid rgb(219, 210, 210);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    display: inline-block;
}

.anchor a:link {
    color: rgb(15, 20, 15);
    background-color: transparent;
    text-decoration: none;
}

.anchor a:visited {
    color: rgb(22, 18, 18);
    background-color: transparent;
    text-decoration: none;
}

.anchor a:hover {
    color: rgb(66, 6, 230);
    background-color: transparent;
    text-decoration: underline;
}

.anchor a:active {
    color: rgb(175, 49, 49);
    background-color: transparent;
    text-decoration: underline;
}


.navbar-search-sm {
    display: inline-block;
    margin-top: 8px;
}

    .navbar-search-sm .form-group {
        width: 300px;
        margin-bottom: 0;
    }

.navbar-links-sm {
    display: inline-block;
    margin-left: 15px;
}

.apply {
    width: 150px;
    border-radius: 20px;
    color: #F88634;
    border: 2px solid #F88634;
    z-index: 1;
}


.apply2 :hover {
    background-color: #ffaf75;
    
}

@media (max-width: 400px) {
    .font {
        font-size: 11px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .sqr {
        margin-top: -30px;
        color: #F88634;
    }
}


.divider {
    flex-grow: 1;
    border-color: rgb(214, 214, 221);
}

.justy {
    justify-content: space-between;
}


.title {
    border-radius: 15px;
}


a{
    color:black;
}
