/*.search {
    position: absolute;
    left: 10px;
    top: 15px;
}

.form-control {
    padding-left: 35px;
    height: 41px;
    width: 100%;
}

.upload {
    height: 150px;
}

.uploadImg {
    height: 5rem;
    width: 8rem;
}*/




#uploaded-images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

    #uploaded-images img {
        max-width: 200px;
        max-height: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
#drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}



/*:root {
    --colorPrimaryNormal: #00b3bb;
    --colorPrimaryDark: #00979f;
    --colorPrimaryGlare: #00cdd7;
    --colorPrimaryHalf: #80d9dd;
    --colorPrimaryQuarter: #bfecee;
    --colorPrimaryEighth: #dff5f7;
    --colorPrimaryPale: #f3f5f7;
    --colorPrimarySeparator: #f3f5f7;
    --colorPrimaryOutline: #dff5f7;
    --colorButtonNormal: #00b3bb;
    --colorButtonHover: #00cdd7;
    --colorLinkNormal: #00979f;
    --colorLinkHover: #00cdd7;
}

body {
    margin: 24px;
}

.upload_dropZone {
    color: #0f3c4b;
    background-color: #F0F0F0;
    outline: 2px dashed black;
    outline-offset: -12px;
    transition: outline-offset 0.2s ease-out, outline-color 0.3s ease-in-out, background-color 0.2s ease-out;
}

    .upload_dropZone.highlight {
        outline-offset: -4px;
        outline-color: var(--colorPrimaryNormal, #0576bd);
        background-color: var(--colorPrimaryEighth, #c8dadf);
    }

.upload_svg {
    fill: var(--colorPrimaryNormal, #0576bd);
}

.*/ /*btn-upload {
    color: white;
}

    .btn-upload:hover,
    .btn-upload:focus {
        color: white;
       
    }*/
/*.img upload_img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}*/
