/*.search {
    position: absolute;
    left: 10px;
    top: 15px;
}

.form-control {
    padding-left: 35px;
    height: 41px;
    width: 100%;
}

.upload {
    height: 150px;
}

.uploadImg {
    height: 5rem;
    width: 8rem;
}*/




#uploaded-images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

    #uploaded-images img {
        max-width: 200px;
        max-height: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
#drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}