<div id="filter">
    
    <div id="grid-view">

        @{

            Html.RenderPartial("_GridCard");

        }

    </div>

    <div id="list-view">

        @{

            Html.RenderPartial("_ListCard");

        }
    </div>



</div>


