<div id="filter">
    

        @{

            Html.RenderPartial("_GridCard");

        }


@*
    <div id="list-view">

        @{

            Html.RenderPartial("_ListCard");

        }
    </div>*@



</div>


