@using CIPLATFORM.Entities.ViewModels
@model MissionListingViewModel
<div class="container">
    <div class="row">
        <div class="col-12  pt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link1 active" data-bs-toggle="tab" data-bs-target="#tab-1"
                            type="button" role="tab" aria-controls="home" aria-selected="true">
                        Recent
                        Volunteers
                    </button>
                </li>
            </ul>

            @foreach (var ii in @ViewBag.pag)
            {
                <div class="row ">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 volunteer-profile text-center">
                        <img src="~/images/@ii.Avatar" class="rounded-circle" width="60" height="60"><br>
                        <p class="text-muted"> @ii.UserName</p>
                    </div>

                </div>
                <hr>
                <p class="text-center text-muted">
                    @*1 - 9 of 25 Recent Volunteers *@

                    @*Navbar change karvu*@
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" onchange="rVolunteer()">
                            <li class="page-item">
                                <button class="page-link" onclick="rVolunteer(1,@ii.MissionId)">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>
                            </li>
                            @{
                                double totalpages = ViewBag.Totalpag;

                                for (int i = 1; i <= totalpages; i++)
                                {
                                    @if (i == ViewBag.pag_no)
                                    {
                                        <li class="page-item ">
                                            <button class="page-link" onclick="rVolunteer(@i,@ii.MissionId )">@i </button>

                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <button class="page-link" onclick="rVolunteer(@i,@ii.MissionId )">@i</button>
                                        </li>
                                    }
                                }
                            }

                            <li class="page-item">
                                <button class="page-link" onclick="rVolunteer(@ViewBag.Totalpag,@ii.MissionId )">
                                    <span aria-hidden="true">&raquo;</span>
                                </button>
                            </li>
                        </ul>
                    </nav>

                </p>
            }
        </div>
    </div>
</div>








