@using CIPLATFORM.Entities.ViewModels
@model CardsViewModel


@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link rel="stylesheet" href="~/css/Home.css">


<style>


    .pagination > li > a {
        background-color: white;
        color: #5A4181;
    }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: #FFFFFF;
            background-color: #F88634;
            border-color: #ddd;
        }

    .pagination > .active > a {
        color: white;
        background-color: #5A4181 !Important;
        border: solid 1px #5A4181 !Important;
    }

        .pagination > .active > a:hover {
            background-color: #5A4181 !Important;
            border: solid 1px #5A4181;
        }
</style>


 @if (TempData["logins"] != null)
{

    <script type="text/javascript">

        toastr.success('@TempData["logins"]');


    </script>

}



<!-- navbar-2 -->


<hr class="d-none d-md-block m-0">
@{
    Html.RenderPartial("navbar2");

}


<hr>
<div class="container mt-3" id="filter-button">
</div>

<!-- explore -->

<div class="row">
    <div class="col-md-9 col-sm-12 "></div>
    <div class="col-md-3 col-sm-12 d-flex justy ">
        <div class="dropdown h-dropdown">
            <select class="form-select w-100 d-inline-flex mb-3 shadow-none" style="border-color:black;" aria-label="Default select example" onchange="temp()" id="sort">
                <option selected>Sort by</option>
                <option value="1">New to Old</option>
                <option value="2">Old to New</option>
                <option value="3">Favourite Mission</option>
                <option value="4">Total Seats</option>
                <option value="5">Total Seats By Descending</option>
                <option value="6">Top Themes</option>
                <option value="7">Most Ranked</option>
                <option value="8">Top Favourite</option>
                  <option value="9">Random</option>
            </select>
        </div>
        <div class="">

            <a id="grid"><i class="bi bi-grid"></i></a>
        </div>
        <div class="">

            <a id="list"><i class="bi bi-list"></i></a>
        </div>
    </div>
</div>
<div class="container">

    @{

        Html.RenderPartial("_FilterMission");

    }


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



@*<script>
    window.onload = opengrid();
    function opengrid() {
    console.log("Grid");
    var div1 = document.getElementById("list-view");
    var div2 = document.getElementById("grid-view");
    div1.style.display = 'none';
    div2.style.display = 'block';
    console.log("Done");
    }
    function openlist() {
    console.log("List");
    var div1 = document.getElementById("list-view");
    var div2 = document.getElementById("grid-view");
    div1.style.display = 'block';
    div2.style.display = 'none';
    console.log("Done");
    }
    </script>*@
































@*
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>*@
@*</body>

    </html>*@
