@using CIPLATFORM.Entities.ViewModels

@model StoryListingViewModel


@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>*@
<link rel="stylesheet" href="./CSS/css.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
<title>Share your Story</title>

<link rel="stylesheet" href="~/css/StoryListing.css">
<link rel="stylesheet" href="~/css/ShareStory.css">


<title>Share your Story</title>


<hr />

<div class="container">

    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>  <span class="story">Share your story</span></h4>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="select mission">
                            Select Mission
                        </label>
                        <div class="col-lg-12">
                            <select class="form-select" aria-label="Default select example" id="getData" aria-placeholder="Select your mission" asp-for="story.MissionId" onchange="Sdata();">
                                <option value="0">Select your mission</option>
                                @foreach (var obj in Model.missions)
                                {
                                    <option value="@obj.Mission.MissionId">@obj.Mission.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="select mission">
                            My Story Title
                        </label>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" asp-for="story.Title" class="form-control" id="formGroupExampleInput" placeholder="Enter story title">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="select mission">
                            Date
                        </label>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="date" id="sDate" asp-for="story.PublishedAt" class="form-control">
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        My Story
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea id="editor" asp-for="story.Description" name=story.Description cols="172" rows="10" maxlength="40000"></textarea>
                        @* <span class=text-danger></span>*@
                        <script>
                            CKEDITOR.replace('story.Description');
                        </script>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        Enter Video URL
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="text" id="surl" asp-for="url" class="form-control" placeholder="Enter your url">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Upload Your Photos</label>
                            <div class="d-flex justify-content-center align-items-center border input-div position-relative" style="height:150px">


                                <input id="imageupload" type="file" name="file" class="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg"><img src="~/images/drag-and-drop.png">

                            </div>
                        </div>

                    </div>

                    <output class="mt-3" id="preview"></output>

                </div><br>
                <div class="row">
                    <div class="col-lg-6 col-md-3 col-2">
                        <button class="cancell rounded-pill btn btn-outline-dark">Cancel</button>
                    </div>
                    <div class="col-lg-6 col-md-9 col-10 text-end">

                        <button type="submit" class="threebt rounded-pill btn btn-outline-warning" style="border:1px thin black" value="1" name="command">Save</button>
                        <button type="submit" class="threebt rounded-pill btn btn-outline-warning" value="2" name="command">Submit</button>
                    </div>
                </div><br><br><hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" style="color: #333333;">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




<script>

    const inputDiv = document.querySelector(".input-div")
     const input = document.querySelector("#imageupload")
     const output = document.querySelector("#preview")
     let imagesArray = []

     input.addEventListener("change", () => {

         const files = input.files
         for (let i = 0; i < files.length; i++) {
             imagesArray.push(files[i])
         }
         displayImages()
     })

     inputDiv.addEventListener("drop", () => {
         e.preventDefault()
         const files = e.dataTransfer.files
         for (let i = 0; i < files.length; i++) {
             if (!files[i].type.match("image")) continue;

             if (imagesArray.every(image => image.name !== files[i].name))
                 imagesArray.push(files[i])
         }
         displayImages()
     })
      function displayImages() {

         let images = ""
         imagesArray.forEach((image, index) => {
             images += `<div class="image storyimages">
                                         <img src="${URL.createObjectURL(image)}" alt="image">
                                         <span onclick="deleteImage(${index})">&times;</span>
                                       </div>`
         })
         output.innerHTML = images
     }

     function deleteImage(index) {
         imagesArray.splice(index, 1)
         displayImages()
     }

</script>

<script>
        function Sdata() {
        var div1 = document.getElementById("getData");
        var selectedOption = div1.options[div1.selectedIndex];
        var selectedValue = selectedOption.value;
        console.log(selectedValue);

        $.ajax(
            {
                type: "POST", 
                url: '/Platform/CheckData',
                data: {
                    'mid': selectedValue,
                },


                success: function (data) {
                    console.log(data);

                    data = JSON.parse(data);
                    console.log(data);
                    if (data != null) {
                        {
                            if(data.story.PublishedAt!=null)
                            {
                            let myDateObj = new Date(data.story.PublishedAt);
                            const year = myDateObj.getFullYear();
                            const month = String(myDateObj.getMonth() + 1).padStart(2, '0');
                            const day = String(myDateObj.getDate()).padStart(2, '0');
                            const formattedDate = `${year}-${month}-${day}`;
                            data.PublishedAt = formattedDate;
                            }
                        
                            $("#formGroupExampleInput").val(data.story.Title);

                            $("#sDate").val(data.PublishedAt);
                            $("#surl").val(data.url);
                               CKEDITOR.instances.editor.setData(data.story.Description);
                            if (data.simg != null) {
                                debugger
                                console.log(data.simg);
                                let images = ""
                                data.simg.forEach((image, index) => {
                                    images += `<div class="image"><img src="/images/A/${image}" alt="image"><span onclick="deleteImage(${index})">&times;</span></div>`

                                })
                                output.innerHTML = images;

                            }
                            else {
                                output.innerHTML = "No Images Are Choosen";
                            }
                       
                        }
                    }
                    else {
                        $("#formGroupExampleInput").val("");
                        $("#sDate").val("");
                        $("#surl").val("");
                        output.innerHTML = "No Images Are Choosen";
                        CKEDITOR.instances.editor.setData("");
                    }

                },

                error: function (e) {

                    alert('Error');
                },
            }
        );
    }
</script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>




