

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
<scrip src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="./CSS/css.css">
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <title>Share your Story</title>
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="~/css/ShareStory.css">


    <title>Share your Story</title>




    <div class="container">
        <hr />
        <div class="row">
            <form method="post">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3> <span class="story">Share your story</span></h3>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="select mission">
                                Select Mission
                            </label>
                            <div class="col-lg-12">

                                <select class="form-select" aria-label="Default select example" aria-placeholder="Select your mission">
                                    <option value="0">Select your mission</option>
                                    @foreach (var obj in Model.missions)
                                    {
                                        <option value="">@obj.Mission.Title</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="select mission">
                                My Story Title
                            </label>
                            <div class="col-lg-12">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter story title">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="select mission">
                                Date
                            </label>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="date" class="form-control">
                                </div>

                            </div>




                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-12">
                            My Story
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea name="my-story" id="" cols="172" rows="10"></textarea>
                            <script>
                                CKEDITOR.replace('my-story');
                            </script>
                        </div>


                    </div><br>
                    <div class="row">
                        <div class="col-lg-12">
                            Enter Video URL
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">

                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your url">
                            </div>
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-12">
                            Upload your Photos
                        </div>
                        <div class="col-lg-12">

                            @*

                                <fieldset class="upload_dropZone text-center mb-3 p-4">

                                <legend class="visually-hidden">Image uploader</legend>

                                <p class="small my-2">Drag &amp; Drop background image(s) inside dashed region<br><i>or</i></p>

                                <input id="upload_image_background" data-post-name="image_background" data-post-url="https://someplace.com/image/uploads/backgrounds/" class="position-absolute invisible" type="file" multiple accept="image/jpeg, image/png, image/svg+xml" />

                                <label class="btn btn-upload mb-3" for="upload_image_background"><i class="bi bi-plus-lg" style="font-size:100px"></i></label>

                                <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>

                                </fieldset>


                                <svg style="display:none">
                                <defs>
                                <symbol id="icon-imageUpload" clip-rule="evenodd" viewBox="0 0 96 96">
                                <path d="M47 6a21 21 0 0 0-12.3 3.8c-2.7 2.1-4.4 5-4.7 7.1-5.8 1.2-10.3 5.6-10.3 10.6 0 6 5.8 11 13 11h12.6V22.7l-7.1 6.8c-.4.3-.9.5-1.4.5-1 0-2-.8-2-1.7 0-.4.3-.9.6-1.2l10.3-8.8c.3-.4.8-.6 1.3-.6.6 0 1 .2 1.4.6l10.2 8.8c.4.3.6.8.6 1.2 0 1-.9 1.7-2 1.7-.5 0-1-.2-1.3-.5l-7.2-6.8v15.6h14.4c6.1 0 11.2-4.1 11.2-9.4 0-5-4-8.8-9.5-9.4C63.8 11.8 56 5.8 47 6Zm-1.7 42.7V38.4h3.4v10.3c0 .8-.7 1.5-1.7 1.5s-1.7-.7-1.7-1.5Z M27 49c-4 0-7 2-7 6v29c0 3 3 6 6 6h42c3 0 6-3 6-6V55c0-4-3-6-7-6H28Zm41 3c1 0 3 1 3 3v19l-13-6a2 2 0 0 0-2 0L44 79l-10-5a2 2 0 0 0-2 0l-9 7V55c0-2 2-3 4-3h41Z M40 62c0 2-2 4-5 4s-5-2-5-4 2-4 5-4 5 2 5 4Z" />
                                </symbol>
                                </defs>
                                </svg>*@


                            <div id="drop-zone">
                                Drag and drop Pictures and Videos here
                                <input type="file" id="file-input" multiple accept="image/*" style="display:none;">
                            </div>
                            <div id="uploaded-images"></div>










                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-2">
                            <button class="cancell">Cancel</button>
                        </div>
                        <div class="col-lg-6 col-md-9 col-10 text-end">

                            <button class="threebt">Previous</button>
                            <button type="submit" class="threebt">Save</button>

                            <button type="submit" class="threebt">Submit</button>

                        </div>
                    </div><br><br><hr>
                    <div class="row">

                        <div class="col-lg-12">
                            <a href="#" style="color: #333333;">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    @*  <script>

        console.clear();
        ('use strict');



        (function () {

        'use strict';



        const preventDefaults = event => {
        event.preventDefault();
        event.stopPropagation();
        };

        const highlight = event =>
        event.target.classList.add('highlight');

        const unhighlight = event =>
        event.target.classList.remove('highlight');

        const getInputAndGalleryRefs = element => {
        const zone = element.closest('.upload_dropZone') || false;
        const gallery = zone.querySelector('.upload_gallery') || false;
        const input = zone.querySelector('input[type="file"]') || false;
        return {input: input, gallery: gallery};
        }

        const handleDrop = event => {
        const dataRefs = getInputAndGalleryRefs(event.target);
        dataRefs.files = event.dataTransfer.files;
        handleFiles(dataRefs);
        }


        const eventHandlers = zone => {

        const dataRefs = getInputAndGalleryRefs(zone);
        if (!dataRefs.input) return;


        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(event => {
        zone.addEventListener(event, preventDefaults, false);
        document.body.addEventListener(event, preventDefaults, false);
        });


        ;['dragenter', 'dragover'].forEach(event => {
        zone.addEventListener(event, highlight, false);
        });
        ;['dragleave', 'drop'].forEach(event => {
        zone.addEventListener(event, unhighlight, false);
        });


        zone.addEventListener('drop', handleDrop, false);


        dataRefs.input.addEventListener('change', event => {
        dataRefs.files = event.target.files;
        handleFiles(dataRefs);
        }, false);

        }



        const dropZones = document.querySelectorAll('.upload_dropZone');
        for (const zone of dropZones) {
        eventHandlers(zone);
        }



        const isImageFile = file =>
        ['image/jpeg', 'image/png', 'image/svg+xml'].includes(file.type);


        function previewFiles(dataRefs) {
        if (!dataRefs.gallery) return;
        for (const file of dataRefs.files) {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = function() {
        let img = document.createElement('img');
        img.className = 'upload_img mt-2';
        img.setAttribute('alt', file.name);
        img.src = reader.result;
        dataRefs.gallery.appendChild(img);
        }
        }
        }

        https://flaviocopes.com/how-to-upload-files-fetch/
        const imageUpload = dataRefs => {

        if (!dataRefs.files || !dataRefs.input) return;

        const url = dataRefs.input.getAttribute('data-post-url');
        if (!url) return;

        const name = dataRefs.input.getAttribute('data-post-name');
        if (!name) return;

        const formData = new FormData();
        formData.append(name, dataRefs.files);

        fetch(url, {
        method: 'POST',
        body: formData
        })
        .then(response => response.json())
        .then(data => {
        console.log('posted: ', data);
        if (data.success === true) {
        previewFiles(dataRefs);
        } else {
        console.log('URL: ', url, '  name: ', name)
        }
        })
        .catch(error => {
        console.error('errored: ', error);
        });
        }



        const handleFiles = dataRefs => {

        let files = [...dataRefs.files];


        files = files.filter(item => {
        if (!isImageFile(item)) {
        console.log('Not an image, ', item.type);
        }
        return isImageFile(item) ? item : null;
        });

        if (!files.length) return;
        dataRefs.files = files;

        previewFiles(dataRefs);
        imageUpload(dataRefs);
        }

        })();

        </script>*@



    <script>
        const dropZone = document.getElementById('drop-zone');
        const fileInput = document.getElementById('file-input');
        const uploadedImages = document.getElementById('uploaded-images');

        dropZone.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone.style.background = '#eee';
        });

        dropZone.addEventListener('dragleave', (event) => {
            event.preventDefault();
            dropZone.style.background = '';
        });

        dropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone.style.background = '';
            const files = event.dataTransfer.files;
            handleFiles(files);
        });

        fileInput.addEventListener('change', (event) => {
            const files = event.target.files;
            handleFiles(files);
        });

        function handleFiles(files) {
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const imageType = /^image\//;

                if (!imageType.test(file.type)) {
                    continue;
                }

                const img = document.createElement('img');
                img.classList.add('image');
                img.file = file;
                uploadedImages.appendChild(img);

                const reader = new FileReader();
                reader.onload = (function(aImg) {
                    return function(e) {
                        aImg.src = e.target.result;
                    };
                })(img);

                reader.readAsDataURL(file);
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>






    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>*@
    @*    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>





    *@



    @*  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>




