@using CIPLATFORM.Entities.ViewModels

@model StoryListingViewModel




<link rel="stylesheet" href="~/css/StoryListing.css">



<hr class="d-none d-md-block">

<!-- ..............navbar2..................... -->
    @{
    Html.RenderPartial("searchnavbar");

}



<div class="card mt-3">
    <div class="bg">
        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="banner"
             alt="">
        <div class="banner-header  ">
            <p class="text-light d-flex justify-content-center  lorem " style="position: relative;">
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Dolorum debitis alias
                doloribus impedit natus praesentium molestiae nulla fugiat alias doloribus impedit natus
                praesentium
                molestiae nulla fugiat.
            </p>
            <div class="apply2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline apply">
                  <a asp-controller="Platform" asp-action="ShareStory" style="text-decoration:none;color:black;">    Share your Story
                    <i class="bi bi-arrow-right"></i>
                    </a>  
                </button>
            </div>
        </div>

    </div>
</div>
  <div id="StoryFilter">

    @{
        Html.RenderPartial("_StoryCard");

    }
</div>



