<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIPLATFORM</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/CIPLATFORM.styles.css" asp-append-version="true" />*@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">



</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">


                        <li class="nav-item mt-1">
                            <a asp-action="StoryListing" class="nav-link ms-lg-5" >Stories</a>
                        </li>
                        <li class="nav-item dropdown mt-1">
                               <a   asp-controller="Home" asp-action="Privacy" class="nav-link  ms-lg-5"   role="button"
                                >
                                policy
                                </a>
                            @*<a class="ms-lg-5" role="button" asp-controller="Home" class="nav-link dropdown-toggle ms-lg-5 " style="text-decoration: none; color:gray" id="navbarDropdown" asp-action="Privacy">Privacy</a>*@
                            <ul class="dropdown-menu text-center w-50" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action1</a></li>
                                <li><a class="dropdown-item" href="#">Action2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Action3</a></li>
                            </ul>
                        </li>


                    </ul>

                </div>
                <form class="d-flex">
                    <img src="~/images/user-img.png" class="profile-nav" alt="">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="color:black" ;
                           data-bs-toggle="dropdown" aria-expanded="false">
                            @ViewBag.Uname
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Email Address</a></li>
                            <li><a class="dropdown-item" href="#">Mobile Number</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-controller="User" asp-action="login">Logout</a></li>
                        </ul>
                    </li>
                </form>
            </div>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
