<style>
    input[type='checkbox'] {
        accent-color: orange;
        width: 40px;
        height: 18px;
    }

    input[type=checkbox]:checked:before {
        color: #777777;
    }
    /*    .notification {
      background-color: #555;
      color: white;
      text-decoration: none;
      padding: 15px 26px;
      position: relative;
      display: inline-block;
      border-radius: 2px;
    }

    */
    .notification .badge {
        position: absolute;
        top: -3px;
        right: 19px;
        padding: 3px 4px;
        border-radius: 50%;
        background-color: red;
        color: white;
        /*  position: absolute;
        top: -4px;
        WIDTH: 24px;
        height: 21px;
        right: 28px;
        padding: 4px 8px;
        border-radius: 126%;
        background-color: red;*/
        color: white;
    }
</style>

<form class="d-flex">

    <div class="collapse navbar-collapse dropdown me-3 " id="navbarSupportedContent">


        <i class="bi bi-bell btn notification  dropdown-toggle" type="button" data-bs-toggle="dropdown"
           aria-expanded="false" style="font-size:20px;" onclick="getnotification();"> <span class="badge" id="todisplay">@TempData["msg1"] </span></i>

        <ul class="dropdown-menu dropdown-menu-center" style="width:400px;height:500px;overflow-x: hidden;">
            <li class="d-flex justify-content-between align-content-between" style="position: sticky;">
                <i class="bi bi-gear-fill ms-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal10" onclick="getsettings();"> </i>
                <span> <h6>Notification</h6> </span>
                <a style="text-decoration: none; color: black;" onclick="return readNotification('clear');" class="me-2" href="#"> <h6>clear all</h6> </a>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <div id="newnoti">
                @{
                    Html.RenderPartial("_Notificationlist");
                }
            </div>

        </ul>
    </div>
    @if (ViewBag.Avtar != "")
    {
        <img src=~/images/@ViewBag.Avtar class="profile-nav" alt="">

    }
    else
    {
        <img src=~/images/user1.png class="profile-nav" alt="">
    }


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="color:black" ;
           data-bs-toggle="dropdown" aria-expanded="false">
            @ViewBag.Uname
        </a>
        <ul class="dropdown-menu dropdown-menu-end navbar-links" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Profile"> <span>Add Profile </span> </a></li>
            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Timesheet"> <span>Volunteering Timesheet</span></a></li>
            @{
                String role = @User.Claims.FirstOrDefault(m => m.Type == "role").Value;
            }
            @if (role == "Admin")
            {
                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Admin">Admin</a></li>
            }

            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">  <span>Log Out </span> </a></li>
        </ul>
    </li>
</form>

<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModal10Label" aria-hidden="true">
    <div class="modal-dialog  modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title fs-4 fw-bold" id="exampleModal10Label"><i class="bi bi-gear-fill mx-2"></i> Notification Settings </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between  bg-light">
                    <span class="fs-5 fw-bold w-100">Get a Notification for</span>
                </div>
                <div class="container-fluid mt-2">
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">Recommended Mission</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="RecommendedMission" value="RecommendedMission" />
                    </div>
                    @*   <div class="d-flex justify-content-between">
                        <span class="fs-5">Volunteering Hours</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="2" value="Volunteering Hours" />
                        </div>
                        <div class="d-flex justify-content-between">
                        <span class="fs-5">Volunteering Goals</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="3" value="Volunteering Goals" />
                        </div>*@
                    @*  <div class="d-flex justify-content-between">
                        <span class="fs-5">My comments</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="My Comments" value="My Comments" />
                        </div>*@
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">My Stories</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="Story" value="Story" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">New missions</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="NewMission" value="NewMission" />
                    </div>
                    @*  <div class="d-flex justify-content-between">
                        <span class="fs-5">New messages</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="7" value="New Messages" />
                        </div>*@
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">Recommended story</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="RecommendedStory" value="RecommendedStory" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">Mission application</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="MissionApplication" value="MissionApplication" />
                    </div>
                    @* <div class="d-flex justify-content-between">
                        <span class="fs-5">News</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="10" value="News" />
                        </div>*@
                    <div class="d-flex justify-content-between">
                        <span class="fs-5">Receive notification by email</span>
                        <input type="checkbox" class="my-2 inputs" name="sn" id="EmailNotification" value="EmailNotification" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn  skill" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn savePassword" data-bs-dismiss="modal" onclick="settingsForNotification()">Save changes</button>
            </div>
        </div>
    </div>
</div>