<form class="d-flex">

    <div class="collapse navbar-collapse dropdown " id="navbarSupportedContent">

        <i class="bi bi-bell btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
           aria-expanded="false" style="font-size:20px;"></i>

        <ul class="dropdown-menu dropdown-menu-center" style="width:400px;height:500px;overflow-x: hidden;">
            <li class="d-flex justify-content-between align-content-between" style="position: sticky;">
                <i class="bi bi-gear-fill ms-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal10"> </i>
                <span>Notification</span>
                <a style="text-decoration: none; color: black;" class="me-2" href="#">clear all</a>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li class="d-flex justify-content-between align-content-between">
                <button>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-plus-circle ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> New Mission Plantation and Programme</div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill "
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
                </button>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-plus-circle ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> New News -New Page</div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill "
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <img src="~/images/user-img.png" class="profile-nav1 ms-2 "
                             alt="">
                    </div>
                    <div class="col-9"> Jainam Shah- Recoomaand to this mission..!!</div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill "
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <div class="d-flex justify-content-center align-items-center">
                <h6>OLDER</h6>
            </div>

            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-check2-square ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9">
                        Volunteering Request has been approved for this mission
                        :autominationdata 15141518
                    </div>
                    <div class="col-2">
                        <i class="bi bi-check-lg" style="font-size: 20px; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-plus-circle ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> New Mission- autominationdata 15141518</div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill ms-2"
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-check2-square ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9">
                        Volunteering Request has been approved for this mission
                        :autominationdata 15141518
                    </div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill "
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-plus-circle ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> New Mission- autominationdata 15141518</div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill ms-2"
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-check2-square ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9">
                        Volunteering Request has been approved for this mission
                        :autominationdata 15141518
                    </div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill "
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
            <hr style="background-color: rgb(187, 185, 183);">
            <li>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-plus-circle ms-2"
                           style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> New Mission- autominationdata 15141518</div>
                    <div class="col-2">
                        <i class="bi bi-circle-fill ms-2"
                           style="font-size: 12px; color: #ffaf75; "></i>
                    </div>
                </div>
            </li>
        </ul>


    </div>
    @if (ViewBag.Avtar != "")
    {
        <img src=~/images/@ViewBag.Avtar class="profile-nav" alt="">

    }
    else
    {
        <img src=~/images/user1.png class="profile-nav" alt="">
    }


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="color:black" ;
           data-bs-toggle="dropdown" aria-expanded="false">
            @ViewBag.Uname
        </a>
        <ul class="dropdown-menu dropdown-menu-end navbar-links" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Profile"> <span>Add Profile </span> </a></li>
            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Timesheet"> <span>Volunteering Timesheet</span></a></li>
            @{
                String role = @User.Claims.FirstOrDefault(m => m.Type == "role").Value;
            }
            @if (role == "Admin")
            {
                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Admin">Admin</a></li>
            }

            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">  <span>Log Out </span> </a></li>
        </ul>
    </li>
</form>
<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModal10Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal10Label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>