<div class="container-fluid">
    <div class="container">
        <div class="row d-flex">
            <nav class="navbar  navbar-expand-lg bg-body-tertiary p-0">
                <div class="container-fluid">
                    <div class="d-flex align-items-center col-lg-6 col-12  .navbar-search-sm" role="search">

                        <img src="~/images/search.png" class="search" />
                        <form>
                        <input class="form-control mx-1" type="text" placeholder="Search Missions..."
                               aria-label="Search" id="searchb" name="search" oninput="searchMission()">
</form>
                    </div>

                  

                </div>
            </nav>
        </div>
    </div>
</div>
