
@using CIPLATFORM.Entities.ViewModels
@model AdminViewModel

<div id="cmspage">
    <h4>Mission</h4>
    <hr class="m-0">
    <div class="row mt-3 g-0">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="form-group has-search">
                <span class="form-control-feedback"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control " placeholder="Search">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-8 col-xl-9 text-sm-end mt-3 mt-sm-0">
            <button type="button" class="btn btn-outline-warning rounded-pill" onclick="addform('nav-mission');">
                <i class="bi bi-plus"></i>
                Add
            </button>
        </div>
    </div>
    <table class="table mt-3">
        <tbody>
            <tr style="background-color: #F8F9FC;">
                <th scope="col">Mission title</th>
                <th scope="col">Mission type</th>
                <th scope="col">Start date</th>
                <th scope="col">End Date</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
               @foreach (var obj in Model.missions)
            {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.MissionType</td>
                <td>@obj.StartDate.Value.ToShortDateString()</td>
                <td> @obj.EndDate.Value.ToShortDateString() </td>

                <td style="text-align: center;">
                    <button type="button" class="btn p-0" onclick="editform('nav-mission');">
                        <i class="bi bi-pencil-square" style="color: coral;"></i>
                    </button>
                    <button type="button" class="btn p-0">
                        <i class=" bi bi-trash ms-3"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="border mt-3" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add mission</h3>
    <hr class="m-0">
    <form action="" class="px-3">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label for="mission1" class="mt-3"> Description</label>
<textarea id="mission1" cols="172" rows="10"
          maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("mission1");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Mission</label>
        <select type="text" class="form-select form-control">
            <option value="1">Select your mission</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-mission');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
<div class="border mt-3" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit mission </h3>
    <hr class="m-0">
    <form action="" class="px-3">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label for="mission2" class="mt-3"> Description</label>
<textarea id="mission2" cols="172" rows="10"
          maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("mission2");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Mission</label>
        <select type="text" class="form-select form-control">
            <option value="1">Select your mission</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-mission');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>