@using CIPLATFORM.Entities.ViewModels
@model AdminViewModel




<div id="cmspage">

    <table class="table mt-3">
        <tbody>
            <tr style="background-color: #F8F9FC;">
                <th scope="col">Skill Name</th>
                <th scope="col">Status</th>

                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
            @foreach (var obj in Model.skills)
            {
                <tr>
                    <td>@obj.SkillName</td>
                    @if (obj.Status == 1)
                    {
                        <td style=" width: 33px; color: #3CDD5F; ">
                            Active
                        </td>
                    }
                    else
                    {
                        <td style=" width: 33px; color: #FF4545; ">
                            Inactive
                        </td>
                    }


                    <td style="text-align: center;">
                        <button type="button" class="btn p-0" onclick="editform('nav-skill'); getdata('nav-skill',@obj.SkillId);">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>
                        <button type="button" class="btn p-0" onclick=" if (confirm('Are you sure you want to delete?')) { return location.href='@Url.Action("DeleteActivity", "Admin" ,new {id = @obj.SkillId,page = 5})' } ">
                            <i class="bi bi-trash ms-3"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example mt-5">
        <ul class="pagination justify-content-end me-5" onchange="searchuser(1,'missionskill')">

            @{
                double totalpages = ViewBag.Totalpages5;



                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item  ">
                            <a class="page-link  " onclick="searchuser(@i,'missionskill')">@i </a>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" onclick="searchuser(@i,'missionskill')">@i</a>
                        </li>
                    }


                }
            }

        </ul>
    </nav>


</div>



<div class="border mt-3" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add mission skill</h3>
    <hr class="m-0">
    <form method="post" class="px-3">
        <label for="select mission" class="mt-3"> Skill Name </label>
        <input type="text" asp-for="skill.SkillName" class="form-control" id="formGroupExampleInput">


        <label class="mb-1 mt-3">Status</label>
       <select type="text" asp-for="skill.Status" class="form-select form-control">
            <option value="1">Active</option>
            <option value="0">In-Active</option>

        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-skill');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="5" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>



<div class="border mt-3" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit mission skill </h3>
    <hr class="m-0">
    <form method="post" class="px-3">
        <label for="select mission" class="mt-3"> Skill Name </label>
        <input type="text"  asp-for="skill.SkillName" class="form-control" id="formGroupExampleInput">
         <input asp-for="skill.SkillId" type="hidden" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Status</label>
        <select type="text" asp-for="skill.Status" class="form-select form-control">
            <option value="1">Active</option>
            <option value="0">In-Active</option>

        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-skill');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="5" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>


